[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Terminator
Comment=Terminator emulator in quake-style layout
Exec=terminator -b -l quake
Terminal=false
Type=Application
StartupNotify=false
Terminal=false
Hidden=true
Name[en_AU]=terminator.desktop
